*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
img{
    max-width: 100%;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.poppins-regular, body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
} 
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
.header{
    box-shadow: 0 15px 40px -20px rgba(0,0,0,0.2);
    margin-bottom: 40px;
}
.logo-container{
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo{
    width: 150px;
}
.nav-items > ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-items > ul > li{
    font-size: 16px;
    font-weight: 500;
    
}
.nav-items > ul > li > a{
    text-decoration: none;
    color: #333;
}
.nav-items > ul > li > a:hover{
    color: rgb(241, 87, 0);
}
.h2-title{
    font-size: 32px;
    font-weight: 700;
    margin-block: 40px 30px;
}
.res-container,
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 15px;
    justify-content: space-between;
}
.res-card,
.shimmer-card{
    text-decoration: none;
    color: inherit;
    outline: 0px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    background-color: #fdfdec;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.res-container > a{
    width: 24%;
}
.shimmer-card{
    width: 24%;
    height: 415px;
    background-color: #f0f0f0;
}
.res-card:hover{
    transform: scale(0.95, 0.95);
    transform-origin: center center;
}
.res-content{
    padding: 15px;
}
.res-container a{
    text-decoration: none;
    color: inherit;
}
.res-card h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
}
.sw-restaurant-card-descriptions-container{
    gap: 10px;
    margin-top: 15px;
}
.cuisine{
    font-size: 13px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.res-card img{
    aspect-ratio: 3/2;
    -webkit-aspect-ratio: 3/2;
    object-fit: cover;
    -webkit-object-fit: cover;
    border-radius: 4px;
}
.body-container{
    margin-bottom: 80px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}
.filter-btn,
.search-btn{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    border-radius: 6px;

}
.input-search{
    border: 1px solid #b0b0b0;
    box-shadow: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    height: 44px;
}
.account-btn{
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    
}
.delevery-time{
    position: relative;
    padding-left: 20px;
}
.delevery-time::before{
    content: "";
    background-color: #333;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.res-card-thumb{
    position: relative;
}
.card-price{
    background: linear-gradient(rgba(27,30,36,0)0%, rgb(27,30,36) 80.20%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #fff;
    left: 0;
    right: 0;
    padding: 15px 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.search-filter{
    width: 500px;
}
.search-container{
    width: 100%;
    position: relative;
}
.search-container input{
    width: 100%;
}
.search-btn{
    cursor: pointer;
    background-color: #0000;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0;
    display: flex;
    align-items: center;
}
.bi-search,
.bi-x-lg{
    color: #f15700;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
@media(max-width: 1499px){
    .container{
        max-width: 1220px;
    }
}
@media(max-width: 1280px){
    .container{
        max-width: 940px;
        padding: 0 15px;
    }
    .res-container > a {
        width: 23%;
    }
    .res-card h3 {
        font-size: 16px;
        line-height: 22px;
    }
    .res-content p{
        font-size: 13px;
    }
}
@media(max-width:820px){
    .res-container > a {
        width: 31%;
    }
}
@media(max-width:767px){
    .logo-container{
        width: 100px;
    }
    .logo {
        width: 90px;
    }
    .nav-items > ul > li {
        font-size: 14px;
    }
    .search-filter {
        width: 300px;
    }
}
@media(max-width:576px){
    .header > .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-items{
        display: block;
        width: 100%;
    }
    .nav-items > ul{
        display: block;
        padding-bottom: 15px;
        text-align: center;
    }
    .nav-items > ul > li{
        display: inline-block;
        padding: 5px 8px;
        
    }
    .nav-items > ul > li:last-child{
        display: block;
    }
    .account-btn {
        padding: 8px 18px;
        font-size: 14px;
        width: 100%;
        display: block;
    }
    .filter-header{
        flex-direction: column;
    }
    .search-filter {
        width: 100%;
        margin-bottom: 15px;
    }
    .filter-btn{
        padding: 8px 18px;
        font-size: 14px;
        height: 34px;
        display: inline-flex;
        align-items: center;
    }
    .h2-title {
        margin-block: 40px 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }
    .res-container > a {
        width: 100%;
    }
}